<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase
</IfModule>

ServerSignature OFF
AddDefaultCharset UTF-8
ErrorDocument 404 /error.php
ErrorDocument 400 /error.php

#RewriteRule ^ajax?$ ajax.php [NC, L]